@import "variables";

.form-floating > .fm-form-select.empty ~ label {
    color: rgb(33, 37, 41);
    transform: unset;
}
.fm-flex-container {
    display: flex;
    align-items: center;
}
.fm-form-input.fm-no-label {
    .fm-form-select {
        padding-top: 0.625rem !important;
    }
}
.is-invalid .form-control {
    border: 1px solid $color-danger !important;
}
.is-invalid .form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba($color-danger, 0.25);
}
.fm-form-errors {
    list-style: none;
    padding-left: 8px;
    .fm-form-error {
        font-size: 12px;
        color: $color-danger;
    }
}
.fade-in {
  animation: fadeIn 0.5s ease-in forwards;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.fm-loading {
    inset: 0;
    background: white;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    font-family: sans-serif;
    .fm-spinner {
        width: 48px;
        height: 48px;
        border: 5px solid rgba(0, 0, 0, 0.1);
        border-top-color: $color-primary;
        border-radius: 50%;
        animation: spin 1.1s linear infinite;
        margin-bottom: 0;
    }
    .fm-loading-text {
        font-size: 1.2rem;
        color: #555;
        margin-bottom: 0;
    }
}
.fade-enter-active {
    transition: opacity 0.25s ease;
}
.fade-leave-active {
    transition: opacity 0.25s ease;
}
.fm-loading-transition.fade-leave-active {
    transition: opacity 0.75s ease;
}
.fm-loading-transition.fm-loading-full.fm-loading {
    position: fixed;
    .fm-spinner {
        margin-bottom: 1rem;
    }
    .fm-loading-text {
        margin-bottom: 1rem;
    }
}
.fade-enter-from, .fade-leave-to {
    opacity: 0;
}
.fm-loading.large {
    .fm-spinner {
        width: 90px;
        height: 90px;
        border-width: 10px;
    }
    .fm-loading-text {
        font-size: 3rem;
    }
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.fm-messages {
    position: fixed;
    max-width: 400px;
    bottom: 0;
    right: 30px;
    z-index: 999999999;
    .fm-message-container {
        .fm-message {
            padding: 8px 16px;
            margin-bottom: 15px;
        }
        .fm-message.fm-message-error {
            background: $color-danger;
        }
        .fm-message.fm-message-success {
            background: $color-success;
        }
    }
}
.fm-image-input {
    &:hover .fm-image,
    &:active .fm-image,
    &:focus .fm-image {
        box-shadow: 0 0 0 0.25rem rgba($color-accent, 0.25);
    }
    .fm-image {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border: 3px solid $color-accent;
    }
    .fm-image-toggle {
        font-size: 1rem;
        right: -6px;
        bottom: -6px;
        cursor: pointer;
    }
}
.fm-phone-verified {
    vertical-align: middle;
    font-size: 16px;
    margin-bottom: 2px;
}
.form-floating > .form-control:focus ~ label {
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem) !important;
}
.fm-image-container {
    display: flex;
    position: relative;
    width: 100% !important;
    border-radius: 8px;
}
.fm-form-input {
    .form-control:focus,
    .form-check-input:focus {
        border: 1px solid $color-secondary !important;
        box-shadow: 0 0 0 0.25rem rgba($color-secondary, 0.25);
    }
    .form-check-label, .form-check-input {
        cursor: pointer;
    }
    .fm-form-label {
        
    }
    .fm-form-control {

    }
    .form-label.fm-form-label.empty {
        transform: none !important;
        color: #777;
    }
    .form-check-input:checked {
        background-color: $color-secondary;
        border-color: $color-secondary;
    }
    .fm-upload-description {
        font-size: 0.6em;
        color: #666;
        margin-top: 1em;
    }
    .fm-form-uploader {
        text-align: center;
        max-width: 500px;
        position: relative;
        cursor: pointer;
        border: 1px dashed var(--bs-body-color);
        padding: 4px;
        border-radius: 5px;
        @media (max-width: 768px) {
            max-width: 100%;
        }
        .fm-image {
            max-width: 100%;
            cursor: default;
        }
        .fm-image.fm-thumbnail-selector {
            cursor: pointer;
        }
        .fm-image.fm-thumbnail-selector:hover {
            border: 4px solid var(--bs-secondary);
        }
        .fm-image.fm-image-preview.fm-image-cursor {
            cursor: pointer;
        }
        .fm-form-upload-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-weight: bold;
        }
        .fm-form-upload-clear {
            background: white;
            border-radius: 50px;
            position: absolute;
            top: 12px;
            right: 12px;
            height: 25px;
            width: 25px;
            font-size: 25px;
            line-height: 25px;
            text-align: center;
            .material-icons {
                vertical-align: top;
                line-height: 25px;
            }
        }
        .fm-image-container {
            .fm-form-multiple-image-container {
                box-sizing: content-box;
                position: relative;
                display: inline-block;
                min-width: 75%;
                padding: 4px;
            }
            .fm-form-multiple-image-container:first-child {
                img.fm-thumbnail-selector,
                img.fm-thumbnail-selector:hover {
                    border: 4px solid var(--bs-primary) !important;
                    cursor: default;
                }
            }
        }
        .fm-image-container.scroll {
            overflow-x: scroll;
            padding-bottom: 12px;
        }
    }
    .fm-tag-selector {
        border: 1px solid var(--bs-border-color);
        min-width: 200px;
        padding: 1em;
        border-radius: 5px;
        margin-top: 0.25em;
        position: absolute;
        background: #fff;
        z-index: 99;
        .fm-tags {
            min-height: 120px;
            overflow-y: scroll;
            .fm-tag {
                margin-left: 0;
                margin-bottom: 0.5em;
            }
        }
    }
    .fm-tags {
        margin: 0.5em 0;
        min-height: 24px;
        .fm-tag {
            cursor: pointer;
            display: inline-block;
            vertical-align: top;
            padding: 0.5em 0.75em;
            height: 24px;
            padding-top: 7px;
            font-size: 0.75em;
            line-height: 0.75em;
            border-radius: 10px;
            font-weight: bold;
        }
        .fm-tag:hover {
            opacity: 0.75;
        }
        .fm-tag.fm-tag-existing {
            cursor: not-allowed;
            opacity: 1 !important;
        }
        .input-group {
            display: inline-block;
            width: auto;
            margin: 0 4px;
            .material-icons {
                vertical-align: top;
                color: #fff;
                background: var(--bs-secondary);
                border-radius: 0 10px 10px 0;
                padding-right: 2px;
            }
            .material-icons:hover {
                cursor: pointer;
                opacity: 0.65;
            }
        }
    }
}
.fm-form-input.fm-no-label {
    .fm-form-control {
        padding-top: 0.625rem;
    }
}
.fm-form-multi-entries {
    .fm-form-multi-entries-label {
        display: flex;
        align-items: flex-end;
        .fm-form-multi-entries-add {
            text-align: right;
            flex: 1;
            padding-bottom: 8px;
        }
    }
    .fm-form-multi-entry {
        .fm-button-container {
            .button {
                height: 100%;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        .fm-button-container.fm-button-remove-border-radius {
            .button {
                border-radius: 0;
            }
        }
        .fm-button-container.d-grid {
            .button {
                border-radius: var(--bs-border-radius);
            }
        }
        .fm-button-reorder {
            @media (max-width: 768px) {
                margin-top: 16px;
            }
            .material-icons {
                vertical-align: middle;
            }
        }
        .fm-form-entry-flex {
            display: flex;
            .fm-form-entry-output {
                flex: 4;
            }
        }
        .fm-button-reorder.fm-button-reorder-upward {
            @media (max-width: 768px) {
                width: 50%;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
        .fm-button-reorder.fm-button-reorder-downward {
            @media (max-width: 768px) {
                width: 50%;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}
.input-group > .form-control.fm-form-control-color {
    height: inherit;
    flex: 0 0 4em;
}
.fm-form-phone {
    .fm-form-phone-country-code-input,
    .fm-form-phone-extension-input {
        width: 120px;
    }
    .fm-form-phone-country-code-input {
        select {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    .fm-form-phone-input {
        flex: 1;
    }
    .fm-form-phone-input {
        input {
            border-radius: 0;
        }
    }
    .fm-form-phone-extension-input {
        input {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    .fm-form-phone-input.fm-form-phone-normal-borders-left {
        input {
            border-top-left-radius: 0.375rem;
            border-bottom-left-radius: 0.375rem;
        }
    }
    .fm-form-phone-input.fm-form-phone-normal-borders-right {
        input {
            border-top-right-radius: 0.375rem;
            border-bottom-right-radius: 0.375rem;
        }
    }
}